.nav1{
    background-color:rgba(0,0,0,0.666);
    color:rgb(215, 215, 215);
    padding:0;
    margin:0;
    height:2.8vmax;
    text-align:center;
    justify-content: space-between;
    display:flex;
    align-items:center
}

@media screen and (max-width:800px) {
    .nav1{
        height: 5vmax;
        align-items: center;
    }
}