.updatePasswordContainer{
    position:relative;
    width: 100vw;
    height:93vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: fixed; */
    top: 0%;
    left: 0;
}

.updatePasswordBox{
    border: 2px solid rgb(32, 31, 31);
    width: 25vw;
    height: 70vh;
    box-sizing: border-box;
    overflow: hidden;
    /* align-items: center; */
}

.updatePasswordForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 2vmax;
    justify-content:space-around;
    height: 70%;
    transition: all 0.5s;
}
.updatePasswordHeading{
    text-align: center;
    color: rgba(0, 0, 0, 0.678);
    font: 600 1.6vmax "Roboto";
    padding: 1.3vmax;
    border-bottom: 1px solid rgba(63, 62, 62, 0.678);
    width: 90%;
    margin: auto;
}
.updatePasswordForm>div{
    display: flex;
    width: 100%;
    align-items: center;
}

.updatePasswordForm>div>input{
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    margin: 0.5vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.678);
    border-radius: 4px;
    font: 300 1.2vmax cursive;
    outline: none;
}


.updatePasswordForm>div>svg{
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color: rgba(63, 62, 62, 0.678);
}


.updatePasswordBtn{
    border: none;
    background-color: rgba(0, 0, 0, 0.678);
    color: white;
    font: 400 1.3vmax "Roboto";
    width: 100%;
    padding: 0.8vmax;
    
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 5px rgba(90, 89, 89, 0.678);
}

.updatePasswordBtn:hover{
    background-color: black;
}


@media screen and (max-width:600px) {
    .updatePasswordContainer{
        background-color: white;
        width: 70vw;
        /* align-self: auto; */
        margin: auto;
    }
    .updatePasswordBox{
        width: 100vw;
        height: 80vh;
    }
    

    .updatePasswordForm{
        padding: 5vmax;
    }

    .updatePasswordForm>div>input{
        font-size: 2.8vmax;
    }

    .updatePasswordForm>div>svg{
        font-size: 2.8vmax;
    }

   
    .updatePasswordBtn{
        font: 300 1.9vmax "Roboto";
        padding: 1.8vmax;
    }
} 